

h1{
    font-family: 'abril fatface', cursive;
    color:rgb(37, 143, 176);
    font-size: 3em;
    text-align: center;
}

.container{
    padding: 25px 0px;
}


#puddles1{
    width: 200px;
    height: auto;
    position:absolute;
    top: 10;
    left: 100;
    animation: slideIn 3s forwards;
    animation-fill-mode: forwards;
    z-index: 999;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes slideIn{
    0%{
        transform: translateX(3000px);
    }
    100%{
        transform: translateX(-10);
    }
}

h1:hover{
    color: rgb(40, 125, 81);

}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(240, 240, 231);
    
}

body:hover{
    color:rgb(82, 53, 16);
}

#fixedpuddles {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 99;
}